*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #000202;
    color: #45e0ee;
    line-height: 1.6;
}
nav{
    background-color: #00020233;
    padding: 1rem;
    text-align: center;
}
a {
    display: flex;
    color: #45e0ee;
    text-decoration: none;
}

/* Remove bullets from lists that contain anchors */
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}